.mainHeader {
  width: 100%;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(250, 248, 248);
  padding: 5px 0px;
}
.header-left {
  background-color: white;
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 20px;

  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
.header-right {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav-left img,
.nav-right img {
  margin: 0 3px;
}
.search {
  cursor: pointer;
}
.toggle {
  display: flex;
  align-items: center;
}

.toggle,
.setting,
.dropdown,
.slider {
  margin: 0 10px;
}
